<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1.4 Purchase Contract_spot</title>
</head>
<body>

    <style>
         @page {
            size: auto;
            margin-top: 70px;
            margin-bottom: 70px;
        }


        @media print {
            .page-break {
                page-break-before: always;
        }
    }

        #header1{
            text-align: center;
            margin-top: 20%;
        }
        #header1 p{
            line-height: 5px;    
        }
        #header2 {
            margin-left: 40px;
            margin-right: 40px;
        }   
        #header2-A{
            margin-left: 40px;
        }
        
        #header2-B{
            margin-left: 40px;
        }
        .content{
            margin-left: 40px;
            margin-right: 40px;
        }
        #body-1 p{
            margin:8px; 
            margin-left: 35px;      
        }
        #body-2 p{
            margin:8px; 
            margin-left: 35px;      
        }
    </style>
    <!--pageheader -->
    <div  id="header1">
        <span>Ngày </span> &nbsp;
        <span>Tháng</span> &nbsp;
        <span>Năm</span> &nbsp; <br>
        <span>Date </span> &nbsp;
        <span>Month</span> &nbsp;
        <span>Year</span> &nbsp; <br>
        <br>
        <p><b>CÔNG TY TNHH AEON DELIGHT (VIỆT NAM)</b></p>
        <p><b><i>AEON DELIGHT (VIETNAM) CO., LTD.</i></b></p>
        <p>Gọi tắt là Bên Mua/Buyer</p>
        <br>
        <br>
        <p><b>[CÔNG TY ĐIỀN TÊN BÊN BÁN]</b></p>
        <p><b><i>[INSERT SELLER’S NAME]</i></b></p>
        <p>Gọi tắt là Bên Bán/Seller</p>
        <br><br><br>
        <hr  width="30%" color="black"/>
        <p><b>HỢP ĐỒNG MUA HÀNG</b></p>
        <p><b><i>PURCHASE CONTRACT </i></b></p>
        <hr  width="30%" color="black"/>
        <br><br>
        <span><b>Thời hạn/Term:</b></span>
        <span><b>.......................</b></span><br>
        <span><b>Số/Number:</b></span>
        <span><b>.........................</b></span><br>
    </div>
    <br><br>
    <p style="page-break-before: always"></p>
    <div  id="header2">
        <span>HỢP ĐỒNG MUA HÀNG NÀY, ký ngày:  </span>
        ........
        <span>, giữa:</span>
        ............. 
        <br>
        <span>THIS PURCHASE CONTRACT, dated    </span>
        ........
        <span>, is made between:</span>
        ............. 
        <br>
        <br>
    
        <p style="line-height: 1px;"><span><b>(A)</b></span>&emsp;<span><b>CÔNG TY TNHH AEON DELIGHT (VIỆT NAM)</b></span></p>
        <div id="header2-A">   
            <p><b><i>AEON DELIGHT (VIETNAM) CO., LTD.</i></b></p>
            <span>Địa chỉ/<i>Address:</i></span>
            <span>............................</span><br>
            <span>Đại diện/<i>Represented:</i></span>
            <span>............................</span><br>
            <span>Chức vụ/<i>Title:</i></span>
            <span>............................</span><br>
            <span>Điện thoại/<i>Tel:</i></span>
            <span>............................</span><br>
            <span>MST/<i>Tax code:</i></span>
            <span>............................</span><br>
            <p>(“sau đây gọi là <b>Bên Mua</b>”)/<i>(Hereinafter referred to as “<b>Buyer</b>”)</i></p>
        </div>
        <p><b>VÀ / AND</b></p>
        <p style="line-height: 1px;"><span><b>(B)</b></span>&emsp;<span ><b>[CÔNG TY BÊN BÁN]</b></span></p>
        <div id="header2-B">      
            <p><b><i>AEON DELIGHT (VIETNAM) CO., LTD.</i></b></p>
            <span>Địa chỉ/<i>Address:</i></span>
            <span>............................</span><br>
            <span>Đại diện/<i>Represented:</i></span>
            <span>............................</span><br>
            <span>Chức vụ/<i>Title:</i></span>
            <span>............................</span><br>
            <span>Điện thoại/<i>Tel:</i></span>
            <span>............................</span><br>
            <span>MST/<i>Tax code:</i></span>
            <span>............................</span><br>
            <p>(“sau đây gọi là <b>Bên Bán</b>”)/<i>(Hereinafter referred to as “<b>Seller</b>”)</i></p>
        </div>
        <p>Bên Bán và Bên Mua sau đây gọi riêng là Bên và gọi chung là Các Bên. / 
        Seller and Buyer shall be hereinafter referred individually as the Party and collectively as the Parties.</p>
    </div>
    <!-- Content -->
    <div class="content" id="body">
        <p style="line-height: 1px;"><b>NAY CÁC BÊN THỎA THUẬN NHƯ SAU</b></p>
        <p><b><i>NOW IT IS AGREED AS FOLLOWS:</i></b></p>
        <!-- <b><span>1.</span>&emsp;&ensp;<span>ĐỊNH NGHĨA/<i>DEFINITIONS </i></span></b><br> -->
        <!-- 1 lớn -->
        <div id="body-1" > 
            <b><span>1.</span>&emsp;&ensp;<span>ĐỊNH NGHĨA/<i>DEFINITIONS </i></span></b><br>
            <p>
                Khi sử dụng trong Hợp Đồng này, các thuật ngữ sau sẽ có nghĩa như sau (nghĩa này khi cần thiết có thể áp dụng như nhau cho 
                cả dạng số nhiều và số ít, trừ khi ngữ cảnh đòi hỏi phải hiểu khác):
            </p>
            <p><i>
                As used in the Contract, the following terms shall have the following meanings (such meanings as necessary 
                to be equally applicable to both the singular and plural forms of the terms defined unless the context otherwise requires):</i></p>
               
               
                <!-- <span>1.1</span><span style="margin-left: 30px;display: inline-block;"><b>“Công Ty Liên Quan”</b> nghĩa là bất kỳ công ty nào tùy từng thời điểm kiểm soát, bị kiểm soát hoặc cùng bị kiểm soát bởi, trực tiếp hoặc gián tiếp, bất kỳ Bên nào.</span> -->
                
            <!-- 1.1 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">1.1</span>
                <span style="flex-basis: 99%; margin-left: 18px;"><b>“Công Ty Liên Quan”</b> nghĩa là bất kỳ công ty nào tùy từng thời điểm kiểm soát, bị kiểm soát hoặc cùng bị kiểm soát bởi, trực tiếp hoặc gián tiếp, bất kỳ Bên nào.
                </span>
            </div>
            <p><i>
                <b>“Affiliate”</b> means any company from time to time controlling, controlled by or under common control, whether direct or indirect, with any Party.
            </i></p>
            <!-- 1.2 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">1.2</span>
                <span style="flex-basis: 99%; margin-left: 18px;"><b>“Hàng Hóa” </b>có nghĩa là hàng hóa của Bên Bán cung cấp cho Bên Mua theo mô tả tại Phụ Lục A của Hợp Đồng này.
                </span>
            </div>
            <p><i>
                <b>“Goods”</b> means the items may be supplied by Seller to Buyer as described in Appendix A attached herewith.
            </i></p>
            <!-- 1.3 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">1.3</span>
                <span style="flex-basis: 99%; margin-left: 18px;"><b>“Mô Tả Kỹ Thuật” </b>
                    nghĩa là chất lượng, tiêu chuẩn kỹ thuật, tính năng và các đặc điểm khác của Hàng Hóa sẽ được mô tả chi tiết tại Phụ Lục B – Mô Tả Kỹ Thuật.
                </span>
            </div>
            <p><i>
                <b>“Specifications”</b>
                means the qualities, technical requirements and functions and other characteristics of the Goods which shall be described in Appendix B – Specifications.
            </i></p>
            <!-- 1.4 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">1.4</span>
                <span style="flex-basis: 99%; margin-left: 18px;"><b>“Ngày”</b>
                    có nghĩa là ngày dương lịch và “tuần”, “tháng”, “năm” và tất cả ngày tháng khác được tính theo Dương lịch hiện hành.
                </span>
            </div>
            <p><i>
                <b>“Day”</b>
                means calendar day and “week,” “month,” “year” and all date shall be reckoned according to the Gregorian calendar.
            </i></p>
            <!-- 1.5 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">1.5</span>
                <span style="flex-basis: 99%; margin-left: 18px;"><b>“Tài Sản Sở Hữu Trí Tuệ”</b>
                    là toàn bộ tài sản sở hữu trí tuệ, bao gồm bằng độc quyền sáng chế, giải pháp hữu ích, 
                    nhãn hiệu hàng hóa và dịch vụ, tên thương mại, tên miền, lợi thế thương mại, quyền đối với thiết kế, bản quyền, quyền 
                    nhân thân của quyền tác giả, quyền về thiết kế bố trí mạch tích hợp, quyền đối với cơ sở dữ liệu, bí mật kinh doanh, 
                    công thức và bí quyết kinh doanh cho dù đã đăng ký hay chưa đăng ký của bất kỳ hoặc có thể đăng ký và bao gồm cả việc 
                    đăng ký và hồ sơ đăng ký của bất kỳ một trong các tài sản này và các quyền ứng dụng các tài sản này và tất các các quyền 
                    và hình thức bảo hộ của các loại tương tự hoặc có tác dụng giống hoặc tương đương với bất kỳ tài sản nào nêu trên tại bất kỳ đâu trên thế giới.
                </span>
            </div>
            <p><i>
                <b>"Intellectual Property" </b>
                means all intellectual property, including patents, utility models, trade and service marks, trade names, domain names, goodwill, 
                right in designs, copyrights, moral rights, topography rights, rights in databases, trade secrets, formulae and know-how, whether 
                or not registered or registrable and including registrations and applications for registration of any of these and rights to apply 
                for the same and all rights and forms of protection of a similar nature or having equivalent or similar effect to any of these anywhere in the world.
            </i></p>
        </div><br>
        <!-- 2 lớn -->
        <div id="body-2" > 
            <b><span>2.</span>&emsp;&ensp;<span>HÀNG HÓA/<i>GOODS</i></span></b><br><br>
            <!-- 2.1 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">2.1</span>
                <span style="flex-basis: 99%; margin-left: 18px;">
                    Bên Bán đồng ý bán và Bên Mua đồng ý mua các Hàng Hóa như được nêu cụ thể tại Phụ Lục A – Hàng Hóa. 
                </span>
            </div>
            <p><i>
                Seller agrees to sell and Buyer agrees to buy the Goods as specified in Appendix A – The Goods.
            </i></p>
            <!-- 2.2 -->
            <div style="display: flex; justify-content: space-between;">
                <span style="flex-basis: 2%;">2.2</span>
                <span style="flex-basis: 99%; margin-left: 18px;">
                Chất lượng, tiêu chuẩn kỹ thuật, tính năng và các đặc điểm khác của Hàng Hóa sẽ được mô tả chi tiết tại Phụ Lục B – Mô Tả Kỹ Thuật.
                </span>
            </div>
            <p><i>
                Quality, technical requirement, function and other characteristic of the Goods shall be described in Appendix B – Specifications.
            </i></p>
        
    </div>
</body>
</html>